<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <script src="/s/js/jquery-3.2.1.min.js"></script>
        <script src="/s/popper/popper.min.js"></script>

        <link rel="stylesheet" href="/s/bootstrap/css/bootstrap.min.css">
        <script src="/s/bootstrap/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/s/fancybox/jquery.fancybox.min.css" />
        <script src="/s/fancybox/jquery.fancybox.min.js"></script>

<style type="text/css">
{% block css %}{% endblock %}
</style>

    </head>
    <body>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
    </body>
</html>
