{% extends "_base.html" %}

{% block title %}{% if rel_path %}
Image Browser - {{ rel_path }}
{% else %}
Image Browser
{% endif %}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/s/css/image_browse.css">
{% endblock %}

{% block body %}

{% if rel_path %}
<div id="top-button">
  <a class="btn btn-secondary" href="/image/browse?path={{ parent_rel_path }}" role="button">Up</a>
</div>
{% endif %}

<h2 class='page-heading'>
{% if rel_path %}
/{{ rel_path }}
{% else %}
/
{% endif %}
</h2>

{% if directories %}
<div id="directories" class="images">
    {% for entry in directories %}
    <div class="media">
      <a href="/image/browse?path={{ entry.rel_filepath | urlencode }}">
        <img class="mr-3 thumbnail" src="/api/thumbnail/download?filepath={{ entry.rel_filepath | urlencode }}">
      </a>
      <div class="media-body">
        <h5 class="mt-0">{{ entry.filename }}/</h5>
        Modified: {{ entry.mtime_phrase }}<br />
      </div>
    </div>

    {% endfor %}
</div>
{% endif %}

{% if files %}
<div id="files" class="images">
    {% for entry in files %}
    <div class="media">
      <a href="/api/image/download?filepath={{ entry.rel_filepath | urlencode }}" class="fancybox" data-fancybox="gallery" data-caption="{{ entry.rel_filepath }}">
        <img class="mr-3 thumbnail" src="/api/thumbnail/download?filepath={{ entry.rel_filepath | urlencode }}">
      </a>
      <div class="media-body">
        <h5 class="mt-0">{{ entry.filename }}</h5>
        Modified: {{ entry.mtime_phrase }}<br />
        Size: {{ entry.size_phrase }}M
      </div>
    </div>

    {% endfor %}
</div>
{% endif %}

{% endblock %}
