{% extends "_base.html" %}

{% block title %}{% if rel_path %}
Image Browser - {{ rel_path }}
{% else %}
Image Browser
{% endif %}{% endblock %}

{% block css %}
.media-body h5 {
    font-weight: bold;
}

h2.page-heading {
    padding: 20px 0px 20px 10px;
}
{% endblock %}

{% block body %}

{% if rel_path %}
<div style="padding-top: 10px; padding-left: 10px">
<a class="btn btn-secondary" href="/image/browse?path={{ parent_rel_path }}" role="button">Up</a>
</div>
{% endif %}

<h2 class='page-heading'>
{% if rel_path %}
/{{ rel_path }}
{% else %}
/
{% endif %}
</h2>

{% if directories %}
<div id="directories" class="images" style="">
    {% for entry in directories %}
<!--     <div class="thumbnail directory" class="rounded float-left">
        <a href="/image/browse?path={{ entry.rel_filepath }}">
            <img src="/api/thumbnail/download?rel_filepath={{ entry.rel_filepath }}" border="0" class="img-thumbnail" />
        </a>
    </div>
 -->
    <div class="media directory-entry" style="margin-bottom: 10px; padding-left: 10px; ">
      <a href="/image/browse?path={{ entry.rel_filepath | urlencode }}">
        <img class="mr-3" src="/api/thumbnail/download?filepath={{ entry.rel_filepath | urlencode }}" alt="{{ entry.rel_filepath }}" style="width: 128px; ">
      </a>
      <div class="media-body">
        <h5 class="mt-0">{{ entry.filename }}/</h5>
        Modified: {{ entry.mtime_phrase }}<br />
      </div>
    </div>

    {% endfor %}
</div>
{% endif %}

{% if files %}
<div id="files" class="images">
    {% for entry in files %}
<!--     <div class="thumbnail file" style="">
        <a href="/api/image/download?rel_filepath={{ entry.rel_filepath }}" target="_blank" class="rounded float-left">
            <img src="/api/thumbnail/download?rel_filepath={{ entry.rel_filepath }}" border="0" class="img-thumbnail" />
        </a>
    </div>
 -->
    <div class="media file-entry" style="margin-bottom: 10px; padding-left: 10px; ">
      <a href="/api/image/download?filepath={{ entry.rel_filepath | urlencode }}" target="_blank" data-fancybox="gallery">
        <img class="mr-3" src="/api/thumbnail/download?filepath={{ entry.rel_filepath | urlencode }}" alt="{{ entry.rel_filepath }}" style="width: 128px; ">
      </a>
      <div class="media-body">
        <h5 class="mt-0">{{ entry.filename }}</h5>
        Modified: {{ entry.mtime_phrase }}<br />
        Size: {{ entry.size_phrase }}M
      </div>
    </div>

    {% endfor %}
</div>
{% endif %}

{% endblock %}
